nav img{
    width: 200px;
    height: $spacer-2;
    margin-top: $spacer-3;
    margin-left: $spacer-8;
}
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacer-1;
}
nav ul{
    float:right;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: $spacer-8;
    margin: 0 $spacer-1;
    color: $color-darkblue;
    list-style: none;
}
nav ul li a{
    color: black;
    font-size: $spacer-11;
    transition: .5s;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
a:hover{
    background-color: #297bb2;
    color: white;
}
.checkbtn{
    float: right;
    line-height: $spacer-8;
    font-size: $spacer-3;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    
    background: url(/Photo/Banner.jpg) no-repeat;
    background-size: cover;
    background-position:right;
    height:calc(100vh - 85px);
    width: 100%;
}
section img{
    width: 100%;
}

@include tablet{
    .checkbtn{
        display: block;
       }
       ul{
        position: absolute;
        width: 100%;
        height:calc(100vh - 80px);;
        background: #2c3e50;
        top:80px ;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
        }
        nav ul li{
          display: block;
          margin: 29px 0;
          line-height: $spacer-3;
    
        }
        nav ul li a{
          font-size: $spacer-2;
          color: white;
          
    
        } 
        a:hover,a.active{
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul{
          left:0 ;
        }
       
}